################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JeetBookStore/.vs/JeetBookStore
/JeetBookStore/bin/Debug/netcoreapp3.1
/JeetBookStore/obj
